:root {
    --in-view-index:0;
    --carousel-elem-width: 80vw;
    --logo-size: 80px;
    --title-size: 0;
    --nav-bg-clr: rgb(115, 122, 224);
    --nav-btn-size: 28px;
    --nav-btn-gap: 1.5rem;
    --hero-div-gap: .5rem;
    --hero-bg-clr: rgb(191, 219, 255);
    --hero-img-width: 100%;
    --hero-img-shadow-clr: black;
    --hero-div-padding: 2rem 2rem;
    --hero-header-fsize: 24px;
    --hero-quote-fsize: 20px;
    --hero-header-fclr: black;
    --hero-quote-fclr: black;
    --special-bg-clr: #cdc385;
    --special-div-gap: 1rem;
    --special-div-padding: 2.5rem 2rem;
    --special-img-width: 100%;
    --special-img-shadow-clr: black;
    --special-header-fsize: 24px;
    --special-header-fclr: black;
    --special-para-fsize: 20px;
    --special-para-fclr: black;
    --review-bg-clr: #8bcab5;
    --review-div-padding: 2rem 2rem;
    --review-div-gap: 1rem;
    --review-header-fsize: 15px;
    --review-header-fclr: black;
    --carousel-grad-1: #8BC6EC;
    --carousel-grad-2: #9599E2;
    --review-img-width: 100px;
    --review-user-fsize: 18px;
    --review-para-fsize: 14px;
    --carousel-elem-gap: .5rem;
    --carousel-elem-padding: 1rem 2rem;
    --carousel-btn-padding: .25rem;
    --carousel-btn-size: 25px;
    --carousel-btn-bg-clr: white;
    --carousel-btn-clr: black;
    --footer-padding: .5rem 2rem;
}
/* temp */
img {
    width: var(--hero-img-width);
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background-color: aliceblue;
    overflow-x: hidden;
}
nav {
    position: sticky;
    top: 0;
    right: 0;
    left: 0;
    z-index: 9;
    display: flex;
    background-color: var(--nav-bg-clr);
    box-shadow: 0px 3px 20px 0px rgba(0,0,0,0.25);
}
nav .logo { 
    font-size: var(--title-size);
    display: flex;
    justify-content: center;
    align-items: center;
}
nav .buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--nav-btn-gap);
    flex-grow: 1;
}
nav .buttons button {
    border: none;
    background: none;
    font-size: var(--nav-btn-size);
}
nav .buttons button:not(.disabled){
    cursor: pointer;
}
button.disabled {
    text-decoration: underline;
    text-decoration-thickness: 3px;
    color: white;
    filter: opacity(0.75);
}
.logo svg {
    width: var(--logo-size);
    height: var(--logo-size);
}
q {
    display: block  ;
}
.hero-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--hero-div-gap);
    padding: var(--hero-div-padding);
    background-color: var(--hero-bg-clr);
    position: relative;
}
.hero-div::after {
    content: url(./assets/hero-wave.svg);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    transform: translateY(calc(100% - 5px));
    z-index: 5;
}
.hero-div img {
    width: var(--hero-img-width);
    aspect-ratio: 16/9;
    object-fit: cover;
    border-radius: 5px;
    box-shadow: 5px 5px 0px 0px var(--hero-img-shadow-clr);  
}
.hero-div .hero-text {
    text-align: center;
    color: var(--hero-header-fclr);
    font-size: var(--hero-header-fsize);
}
.hero-div .hero-text q {
    color: var(--hero-quote-fclr);
    font-size: var(--hero-quote-fsize);
}

.special-div {
    background-color: var(--special-bg-clr);
    padding: var(--special-div-padding);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--special-div-gap);
    position: relative;
    text-align: center;
}
.special-div::after {
    content: url(./assets/special-wave.svg);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    transform: translateY(calc(100% - 5px));
    z-index: 5;
}
.special-div .special-image {
    width: var(--special-img-width);
    aspect-ratio: 4/3;
    object-fit: cover;
    border-radius: 5px;
    box-shadow: 5px 5px 0px 0px var(--special-img-shadow-clr);  
}
.special-div .special-header {
    font-size: var(--special-header-fsize);
    color: var(--special-header-fclr);
}
.special-div .special-para {
    font-size: var(--special-para-fsize);
    color: var(--special-para-fclr);
}

.review-div {
    background-color: var(--review-bg-clr);
    padding: var(--review-div-padding);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: var(--review-div-gap);
    color: var(--review-header-fclr);
    font-size: var(--review-header-fsize);
}

.carousel-div {
	position: relative;
	width: var(--carousel-elem-width);
	overflow-x: hidden;
    background-color: var(--carousel-grad-1);
    background-image: linear-gradient(135deg, var(--carousel-grad-1) 0%, var(--carousel-grad-2) 100%);
    box-shadow: 5px 5px 0px 0px var(--hero-img-shadow-clr); 
    border-radius: 5px;
    border: 1px solid black;

}
.carousel-elements {
	display: flex;
	transform: translateX(calc(var(--in-view-index) * var(--carousel-elem-width) * -1));
	transition: 450ms transform ease-in-out;
}
.carousel-element {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--carousel-elem-gap);
	width: 100%;
	flex-shrink: 0;
    padding: var(--carousel-elem-padding);
}
.carousel-element img {
    width: var(--review-img-width);
    aspect-ratio: 1/1;
    border: 1px solid black;
    border-radius: 100%;
    object-fit: cover;
}
.carousel-btns button {
	position: absolute;
	z-index: 2;
	top: 50%;
	transform: translateY(-50%);
    border: none;
    background-color: var(--carousel-btn-bg-clr);
    opacity: 60%;
    cursor: pointer;
    border-radius: 100%;
    padding: var(--carousel-btn-padding);
    aspect-ratio: 1/1;
    display: flex;
    align-items: center;
}
.carousel-btns button svg {
    width: var(--carousel-btn-size);
    stroke: var(--carousel-btn-clr);
}
.carousel-btns button:hover,
.carousel-btns button:active {
    opacity: 80%;
}
button.prev-btn {
	left: 3px;
}
button.next-btn {
	right: 3px;
}

.carousel-element .review-user-name {
    font-size: var(--review-user-fsize);
}
.carousel-element .review-text {
    font-size: var(--review-para-fsize);
    text-align: justify;
}

footer {
    background-color: var(--nav-bg-clr);
    display: flex;
    justify-content: center;
    padding: var(--footer-padding);
}
footer > * {
    padding: .5rem;
}
footer ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: .25rem;
    border-right: 1px solid black;
}
footer ul li {
    cursor: pointer;
}
footer ul li:hover {
    text-decoration: underline;
}
footer .newsletter {
    display: flex;
    flex-direction: column;
    justify-content: start;
}